# Importing libraries

In [26]:
import os
import numpy as np
import pandas as pd
from utils.common import list_directory
from utils.metrics import *
from scipy.stats import *
from sklearn.preprocessing import MinMaxScaler

# Loading csv and embeddings

In [2]:
train_csv = pd.read_csv("./results/embebidos/embs_training.csv")
train_csv

,embedding_mean,embedding_logvar,embedding_z,KL_loss,label
0,[ 1.10404968e+00 1.26411474e+00 -1.78532624e+...,[-3.4180212 -3.4897158 -3.367004 -3.3349156 -...,[ 0.8847492 1.1579369 -1.7538034 -0.528640...,-1.816243,MF1
1,[ 0.7201699 -1.1492598 0.7465677 -0.998295...,[-3.8075643 -3.760372 -3.8423326 -3.8594031 -...,[ 0.44673303 -0.7505907 0.5922076 -1.222765...,-1.994459,MF2
2,[ 2.4430117e-01 6.9785649e-01 1.7615497e+00 ...,[-3.907947 -3.753066 -3.827178 -3.660748 -...,[ 3.0644655e-01 9.8937804e-01 1.8497400e+00 ...,-1.883868,MF3
3,[-2.5187831e+00 6.5457851e-02 1.5845945e+00 ...,[-4.0408435 -3.595418 -4.100499 -4.0535946 -...,[-2.5617285e+00 5.2398168e-02 1.6593808e+00 ...,-2.346757,MF1
4,[ 1.6217899 -0.03540036 1.6334059 0.624076...,[-3.5649567 -3.713633 -4.2294765 -3.9720314 -...,[ 1.5845462 -0.31958666 1.5561485 0.876491...,-2.001742,MF2
...,...,...,...,...,...
2985,[ 9.06086147e-01 6.51457727e-01 -2.92325020e+...,[-3.999551 -3.7413702 -3.9116957 -3.9760978 -...,[ 0.9902431 0.61597383 -2.6114612 2.522344...,-2.029372,MF2
2986,[-0.10864907 0.05779003 -0.6466596 -0.254606...,[-4.0988884 -3.6948438 -4.0377145 -4.1281204 -...,[-0.24540046 0.06856073 -0.37468123 0.023820...,-1.816064,MF3
2987,[-0.17902863 -0.6487853 0.47204384 1.005422...,[-4.186496 -4.151249 -4.144353 -4.365615 -...,[-0.13946329 -0.69264305 0.35375643 0.998470...,-2.012282,MF3
2988,[ 0.0568908 -1.3055112 0.34557253 0.002586...,[-3.796528 -3.6510081 -3.8137145 -3.6616354 -...,[ 0.0857029 -1.2882718 0.22213528 0.298060...,-1.641188,MF3
2989,[-1.36255956e+00 1.13595760e+00 -1.06535584e-...,[-3.5797296 -3.5725763 -3.5572953 -3.3793077 -...,[-1.29549909e+00 8.81152451e-01 -1.85382307e-...,-2.225062,MF1

In [3]:
test_csv = pd.read_csv("./results/embebidos/embs_test.csv")
test_csv

,embedding_mean,embedding_logvar,embedding_z,KL_loss,label
0,[-0.16282618 1.3182294 -0.15468852 -1.996881...,[-3.2616482 -3.2010207 -3.306845 -3.1652637 -...,[-2.47022957e-02 1.68568182e+00 2.53359973e-...,-1.666972,MF1
1,[ 0.8590672 2.0803933 -1.2623978 0.303013...,[-3.6329987 -3.4653535 -3.5955644 -3.5340595 -...,[ 8.0200225e-01 2.1237333e+00 -1.2475932e+00 ...,-2.018898,MF1
2,[-0.13038829 1.045178 1.2977952 -0.028725...,[-3.507098 -3.5923038 -3.5312576 -3.525671 -...,[-2.14754000e-01 9.79929030e-01 1.00451517e+...,-1.544982,MF3
3,[-1.8004026e-01 -1.3139801e-02 1.9752624e+00 ...,[-3.4261465 -3.5677438 -3.365775 -2.9843044 -...,[ 0.06994756 0.12008236 2.0101411 0.744419...,-1.696936,MF2
4,[ 1.4653286 0.94394475 0.5655084 -1.125134...,[-3.6700366 -3.5212986 -3.4251509 -3.8242357 -...,[ 1.4426829 1.0779064 0.31175178 -0.867755...,-1.609507,MF3
...,...,...,...,...,...
179,[ 0.36526346 0.8145784 0.3574501 0.168736...,[-3.2936883 -3.6363657 -3.5069966 -3.5503309 -...,[ 0.42278764 0.8385194 0.34166616 0.506166...,-1.726784,MF2
180,[ 0.41943154 -2.003651 -1.4218875 0.678142...,[-3.8533661 -3.6575296 -3.8196566 -3.4518638 -...,[ 0.44124123 -2.1186552 -1.6941649 0.691158...,-2.058094,MF1
181,[-0.82118577 1.1962943 0.2186241 1.033587...,[-3.737332 -3.5917845 -3.6148105 -4.020273 -...,[-8.77014101e-01 1.24790204e+00 4.44752872e-...,-1.981061,MF2
182,[ 0.5031989 0.2517522 1.2797735 -0.536735...,[-3.5564044 -3.5446393 -3.6636167 -3.6059458 -...,[ 0.45245045 0.51217526 1.2497023 -0.582593...,-1.558675,MF3
183,[ 0.50669634 -0.600868 2.1338103 0.957365...,[-3.4335067 -3.279337 -3.3265033 -3.585897 -...,[ 0.79717386 -0.8551832 2.3888106 1.206456...,-1.815309,MF2

In [4]:
scaler = MinMaxScaler(feature_range=(0, 1))
classes = {i:[] for i in train_csv['label'].unique()}
for c in classes:
    rescaled = scaler.fit_transform(
        train_csv.loc[
            (train_csv['label'] == c)
        ]['KL_loss'].values.reshape(-1, 1)
    )
    classes[c].append(rescaled[:,0])
    rescaled = scaler.fit_transform(
        test_csv.loc[
            (test_csv['label'] == c)
        ]['KL_loss'].values.reshape(-1, 1)
    )
    classes[c].append(rescaled[:,0])
classes.keys()

dict_keys(['MF1', 'MF2', 'MF3'])

In [5]:
shapeness_level(classes["MF1"], classes["MF2"], classes["MF3"], seed=8128)

0.4

In [6]:
homocedasticity_level(classes["MF1"], classes["MF2"], classes["MF3"])

0.4

In [23]:
all_samples = []
for i, c in enumerate(classes):
    for group in classes[c]:
        all_samples.append((i, group))

for i, group_1 in enumerate(all_samples[:-1]):
    for group_2 in all_samples[i+1:]:
        print("Mann-Whitney {} vs {} is: {}".format(
            group_1[0],
            group_2[0],
            mannwhitneyu(group_1[1], group_2[1])
        ))

Mann-Whitney 0 vs 0 is: MannwhitneyuResult(statistic=33120.5, pvalue=0.045662591833489606)
Mann-Whitney 0 vs 1 is: MannwhitneyuResult(statistic=454637.5, pvalue=0.6697085947372439)
Mann-Whitney 0 vs 1 is: MannwhitneyuResult(statistic=25722.5, pvalue=0.03793894140699805)
Mann-Whitney 0 vs 2 is: MannwhitneyuResult(statistic=386376.0, pvalue=0.04456897518148425)
Mann-Whitney 0 vs 2 is: MannwhitneyuResult(statistic=18008.5, pvalue=0.19916708962333174)
Mann-Whitney 0 vs 1 is: MannwhitneyuResult(statistic=37114.0, pvalue=0.03291411805332714)
Mann-Whitney 0 vs 1 is: MannwhitneyuResult(statistic=2217.0, pvalue=0.7166558656228268)
Mann-Whitney 0 vs 2 is: MannwhitneyuResult(statistic=31671.0, pvalue=0.0038575372746549757)
Mann-Whitney 0 vs 2 is: MannwhitneyuResult(statistic=1541.0, pvalue=0.04519426122114858)
Mann-Whitney 1 vs 1 is: MannwhitneyuResult(statistic=38442.0, pvalue=0.037771575846191764)
Mann-Whitney 1 vs 2 is: MannwhitneyuResult(statistic=555307.0, pvalue=0.00016686954092760026)
Mann-Whitney 1 vs 2 is: MannwhitneyuResult(statistic=25285.0, pvalue=0.048375008927647074)
Mann-Whitney 1 vs 2 is: MannwhitneyuResult(statistic=23252.0, pvalue=0.003905879717994364)
Mann-Whitney 1 vs 2 is: MannwhitneyuResult(statistic=1098.0, pvalue=0.019986325494001565)
Mann-Whitney 2 vs 2 is: MannwhitneyuResult(statistic=24460.0, pvalue=0.18703508606783903)

# By embedding vectors

In [ ]:
train_embeddings = np.load("./results/embebidos/embs_logvar_training.npy")
test_embeddings = np.load("./results/embebidos/embs_logvar/embs_logvar_test.npy")
train_embeddings.shape, test_embeddings.shape

In [63]:
# Loading frank embeddings
classes = {}
base_path = './results/embs_translate/train_dry/'
for c in list_directory(base_path):
    classes[c.lower()] = [np.load(os.path.join(base_path, c, 'Embeddings.npy'))]
base_path = './results/embs_translate/test_dry/'
for c in list_directory(base_path):
    classes[c.lower()] += [np.load(os.path.join(base_path, c, 'Embeddings.npy'))]
classes.keys(), len(classes[c.lower()])

(dict_keys(['cuni1', 'cuni2', 'cuni3']), 2)

In [ ]:
for i, z in enumerate(train_embeddings):
    assert str(z) == train_csv.loc[i, 'embedding_logvar']
for i, z in enumerate(test_embeddings):
    assert str(z) == test_csv.loc[i, 'embedding_logvar']

In [ ]:
train_classes = {i:[] for i in train_csv['label'].unique()}
test_classes = {i:[] for i in test_csv['label'].unique()}
for i, z in enumerate(train_embeddings):
    c = train_csv.loc[i, 'label']
    train_classes[c].append(z)
    
for i, z in enumerate(test_embeddings):
    c = test_csv.loc[i, 'label']
    test_classes[c].append(z)
    
train_classes.keys(), test_classes.keys()

In [64]:
for c in classes:
    for s in classes[c]:
        n_components = s.shape[1]
        break
    break

selected_seed = 8128
component_results = []
all_samples = []

for k in range(n_components):
    data = []
    all_samples = []
    for i, c in enumerate(classes):
        parts = []
        for s in classes[c]:
            parts.append(s[:,k])
            all_samples.append((i, s[:,k]))
        data.append(parts)
    shape = shapeness_level(*data, seed=selected_seed)
    homo = homocedasticity_level(*data)
    
    mw_level = []
    for i, group_1 in enumerate(all_samples[:-1]):
        for group_2 in all_samples[i+1:]:
            if group_1[0] == group_2[0]:
                prefix = 0
            else:
                prefix = 1
            stat_test = mannwhitneyu(group_1[1], group_2[1]).pvalue > 0.05
            mw_level += [abs(prefix - int(stat_test))]
    
    component_results.append([k+1, shape, homo, np.mean(mw_level)])

results_df = pd.DataFrame(component_results, columns=["component", "shape", "homo", "MW"])
results_df

/usr/local/lib/python3.8/dist-packages/scipy/stats/_morestats.py:2710: RuntimeWarning: invalid value encountered in double_scalars
  W = numer / denom

      component     shape  homo        MW
0             1  0.200000   0.2  0.200000
1             2  0.200000   0.2  0.200000
2             3  0.200000   0.2  0.200000
3             4  0.200000   0.2  0.200000
4             5  0.200000   0.2  0.200000
...         ...       ...   ...       ...
4091       4092  0.266667   0.7  0.733333
4092       4093  0.200000   0.3  0.400000
4093       4094  0.200000   0.2  0.733333
4094       4095  0.200000   0.7  0.266667
4095       4096  0.200000   0.2  0.200000

[4096 rows x 4 columns]

In [65]:
results_df.describe()

        component        shape         homo           MW
count  4096.00000  4096.000000  4096.000000  4096.000000
mean   2048.50000     0.203483     0.320964     0.313151
std    1182.55768     0.017033     0.186501     0.180344
min       1.00000     0.166667     0.133333     0.133333
25%    1024.75000     0.200000     0.200000     0.200000
50%    2048.50000     0.200000     0.200000     0.200000
75%    3072.25000     0.200000     0.400000     0.400000
max    4096.00000     0.433333     1.000000     1.000000

In [66]:
results_df.loc[
    results_df['MW'] >= 0.5
].describe()

         component       shape        homo          MW
count   699.000000  699.000000  699.000000  699.000000
mean   2243.167382    0.212065    0.548069    0.665904
std    1098.674823    0.030735    0.215635    0.099726
min     521.000000    0.166667    0.133333    0.533333
25%    1016.500000    0.200000    0.366667    0.600000
50%    2568.000000    0.200000    0.600000    0.666667
75%    2963.500000    0.200000    0.733333    0.733333
max    4094.000000    0.400000    1.000000    1.000000

In [ ]:
selected_seed = 8128
n_components = train_embeddings.shape[1]

component_results = []
for i in range(n_components):
    shape = shapeness_level(
        [np.r_[train_classes["MF1"]][:, i], np.r_[test_classes["MF1"]][:, i]], 
        [np.r_[train_classes["MF2"]][:, i], np.r_[test_classes["MF2"]][:, i]], 
        [np.r_[train_classes["MF3"]][:, i], np.r_[test_classes["MF3"]][:, i]], 
    seed=8128)
    homo = homocedasticity_level(
        [np.r_[train_classes["MF1"]][:, i], np.r_[test_classes["MF1"]][:, i]], 
        [np.r_[train_classes["MF2"]][:, i], np.r_[test_classes["MF2"]][:, i]], 
        [np.r_[train_classes["MF3"]][:, i], np.r_[test_classes["MF3"]][:, i]]
    )
    component_results.append([i+1, shape, homo])
results_df = pd.DataFrame(component_results, columns=["component", "shape", "homo"])
results_df

In [ ]:
results_df.to_csv("./results/embebidos_confocales/stats_emb_logvar.csv", index=False)
results_df.describe()

In [12]:
pd.read_csv('./results/embebidos_confocales/stats_emb_logvar.csv').describe()

        component         shape        homo
count  128.000000  1.280000e+02  128.000000
mean    64.500000  2.000000e-01    0.666667
std     37.094474  2.786464e-17    0.119345
min      1.000000  2.000000e-01    0.400000
25%     32.750000  2.000000e-01    0.600000
50%     64.500000  2.000000e-01    0.666667
75%     96.250000  2.000000e-01    0.733333
max    128.000000  2.000000e-01    1.000000

# Other statistical test for components

In [ ]:
classes['MF1']